@media (max-width: 1100px) {
    .navbar {
        
    }
    .navbar ul{
        gap: 3rem;
        margin-right: 0.9rem
    }
    .navbar ul li{
        padding: 0px
    }
  
}

@media (max-width: 640px) {
    .navbar {
        width: 100%
    }
    .navbar img {
        margin-left: 0.5rem;
        width: 40px;
    }
    .navbar ul{
        margin-right: 0.5rem
    }
    .navbar ul li{
        padding: 4px;
        font-size: 0.9rem;
    }
}