.slider-container {
    margin: 0 50px;
    
}

.slider-container img {
    max-height: 650px;
    object-fit: cover;
    object-position: center bottom;
    border-radius: 18px;
    margin-bottom: 50px;
}

@media (max-width: 800px) {
    .slider-container {
        margin: 0 15px; 
    }
}