.container {
  position:relative;
  display: flex;
  margin-top: 3rem;
  text-align: center;
    align-items: center;
}

.botao-back {
  position: absolute; 
  top: 10px;
  left: 65px;
}

.container .container-texto {
  margin-left: 10rem;
  width: fit-content;

}
.container .container-texto p {

}

.container .container-img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  margin: 20px 80px 40px 80px;
}

.container .container-img img {
}

.container .container-img .container-icones {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1050px) {
  .container .container-texto {
    margin-left: 0;
  }
  .botao-back {
    position: absolute; 
    top: 10px;
    left: 0px;
  }
  
}

@media (max-width: 600px) {
  .container .container-img {
    height: 20rem;
    width: 100%;
    flex-wrap: wrap;
  }
  .container .container-img img {
    height: 15rem;
  }
  .container .container-img .container-icones {
    width: fit-content;
    gap: 20px;
  }
}

@media (min-width: 1040px) and (max-width: 1285px) {
  .container {
    flex-direction: column;
  }
  .container .container-texto {
    margin-left: 0;
  }
}